*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "agrandir";
    src: url(../fonts/Agrandir-Regular.otf);
}


a {color: rgb(208, 6, 6); text-decoration: none;}
a:hover {color: rgb(80, 21, 21); text-decoration: none;}

.cajita {
    border: 2px solid #868082;
    margin: 3rem 3rem 3rem 3rem;
    width: 94.5vw;
    height: 70vh;
    background: url(../img/home.jpeg);
    background-size: cover;
    }

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% ;
    background-color: #f2f2f2;
    list-style-type: none;
    font-size: 2rem;
    font-family: "agrandir", "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
    border: 1.5px solid #868082;
}
.cajita .h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 900px;
    font-family: "agrandir";
    background-color: #8a8a8abb;    
}

.cajita .h2 {
    font-family: "agrandir";
    font-size: 3rem;
    font-weight: 100;
    margin-top: 30px;
    margin-left: 35px;
    background: none;
}

.body {
    background-image: url(../img/bg.png);
    padding-bottom: 60px;
}

/*PROYECTOS*/

.nuestros_proyectos {
    padding-top: 1.5%;
    padding-left: 2%;
    display: flex;
    font-size: 2rem;
    font-family: "agrandir", "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";;
}
.tarjetitas {
    display: flex;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 50px;
    font-size: 0.9rem;
    font-family: "agrandir", "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
}
.tarjetita {
background-color: rgb(129, 129, 129);
border-radius: 30px;
overflow: hidden;
display: flex;
flex-direction: column;
gap: 20px;

}

.tarjetita_imagen {
    max-width: 100%;
}

/*contacto*/
.contacto {
    padding-top: 40px;
    padding-left: 40px;
    font-size: 2rem;
    font-family: "agrandir", "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
}

.formulario {
    padding-left: 400px;
    display: flexbox;
    justify-content: space-between;
    font-size: 2rem;
    font-family: "agrandir", "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
}

.terminos {
text-decoration: underline;
 padding-top: 190px;
    padding-left: 400px;
}
/*estudio*/

.estudio {
    padding-top: 40px;
    padding-left: 40px;
    font-size: 2rem;
    font-family: "agrandir", "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
}

.texto_estudio {
    padding-left: 300px;
    font-size: 30px;
}
.encuesta {
    display: flex;
    column-gap: 100px;
    align-items: start;
}

/*footer*/
.footer {
    background-color: #f2f2f2;
    text-align: center;
}